fastapi
uvicorn[standard]
pydantic
motor
python-multipart
opencv-python
numpy
websockets
python-jose[cryptography]
passlib[bcrypt]
pymongo
aiofiles
jinja2
six
pytz
requests
pillow
pandas
openpyxl
xlsxwriter
fpdf
